body{
	background-color: #1C2226;
	height: 100%;
}

#container{
	background-color: rgb(35, 84, 121);
	width: 900px;
	height: 100%;
	margin: auto;
	border: solid rgb(109, 118, 125) 1px;
}

#header{
	height: 50px;
	background-color: rgb(160, 182, 44);
	font-family: helvetica;
	padding-top: 10px;
	font-size: 24pt;
}