html{
	height: 100%;
}

body{
	background-image: url("../images/background.jpg");
	background-color: rgba(248, 248, 285, .3);
	font-family: helvetica;
	height: 100%;
}

#container{
	background-color: rgba(248, 248, 285, .3);
	min-height: 100%;
	width: 900px;
	margin: auto;
	border: solid rgb(109, 118, 125) 1px;
}

#header{
	height: 50px;
	background-color: rgba(248, 248, 285, .3);
	padding-top: 10px;
	font-size: 42pt;
	border: solid rgb(109, 118, 125) 1px;
}

#socialBar{
	float: left;
	width: 90px;
	min-height: 100%;
	padding-top: 20px;
/*	background-color: rgba(248, 248, 285, 1);*/
	position: fixed;
	z-index: 0;
	font-size: 10pt;
}

#content {
	float: right;
	width: 798px;
	background-color: rgba(248, 248, 285, .3);
	padding-left: 10px;
	border: solid rgb(109, 118, 125) 1px;
}

#footer{
	min-height: 5%;
	background-color: rgba(248, 248, 285, .3);
	clear: both;
	border: solid rgb(109, 118, 125) 1px;	
	z-index: 1;
	position: relative;
	font-size: 18pt;
}

.logo{
	height: 70px;
	width: 70px;
	padding-bottom: 15px;
	padding-left: 10px;
	display: none;

}
